@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* override ODS primary colors */
    --ods-color-primary-50: 245 248 255;
    --ods-color-primary-100: 196 215 255;
    --ods-color-primary-200: 147 178 255;
    --ods-color-primary-300: 98 140 254;
    --ods-color-primary-400: 123 63 228;
    --ods-color-primary-500: 123 59 245;
    --ods-color-primary-600: 123 63 228;
    --ods-color-primary-700: 123 49 173;
    --ods-color-primary-800: 123 41 133;
    --ods-color-primary-900: 123 31 92;
  }
}
